@model PetBook.Models.Client

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Model.FirstName
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Model.MiddleName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Model.LastName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserEMail)
        </dt>
        <dd class="col-sm-10">
            @Model.UserEMail
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserStreetAddress)
        </dt>
        <dd class="col-sm-10">
            @Model.UserStreetAddress
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TownOrCity)
        </dt>
        <dd class="col-sm-10">
            @Model.TownOrCity
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Model.State
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Model.Country
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfProfileCreation)
        </dt>
        <dd class="col-sm-10">
            @Model.DateOfProfileCreation
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientPhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Model.ClientPhoneNumber
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientProfileImagePath)
        </dt>
        <dd class="col-sm-10">
            @Model.ClientProfileImagePath
        </dd>
        
    </dl>
</div>
<div>

    <a asp-action="EditClient">Edit Information</a>
</div>
