@model PetBook.Models.Calendar

@{
    ViewData["Title"] = "Delete Event";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="container-fluid" style="background-color: transparent">

    <!--This is the container for the body render-->
    <div class="container-fluid">
        <div class="card mb-lg-1" style="max-width:1200px; background-color: transparent; border-width: 0px">
            <div class="row">

                <!--This is the profile image-->
                <div class="col-md-3" style="padding: 30px">
                    <img src="~/ProfilePic.png" alt="User Profile" class="img-thumbnail">

                    <!--This is the side navigation bar-->
                    <!--TODO-->
                    <ul class="nav flex-column">
                        <li class="nav-item" style="padding-top:10px">
                            <a class="nav-link" asp-area="" asp-controller="Calendar" asp-action="DetailsCalendar">View Calendar</a>
                        </li>
                        <!--TODO-->
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Calendar" asp-action="CreateCalendar">Add Calendar Event</a>
                        </li>
                        <!--TODO-->
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Calendar" asp-action="EditCalendar">Edit Calendar Event</a>
                        </li>
                        <!--TODO-->
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Calendar" asp-action="DeleteCalendar">Delete Calendar Event</a>
                        </li>
                        <!--TODO-->
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="SiteInformation"></a>
                        </li>
                        <!--TODO-->
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
                        </li>
                    </ul>
                </div>


                <!--This is the form to delete an event-->
                
                <div class="col-9" style="padding-left:50px">
                    <h1>Delete Event</h1>

                    <h3>Are you sure you want to delete this?</h3>
                    <div>
                        <h4>Calendar</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-9">
                                @Html.DisplayNameFor(model => model.EntryCreated)
                            </dt>
                            <dd class="col-9">
                                @Html.DisplayFor(model => model.EntryCreated)
                            </dd>
                            <dt class="col-9">
                                @Html.DisplayNameFor(model => model.EntryTitle)
                            </dt>
                            <dd class="col-9">
                                @Html.DisplayFor(model => model.EntryTitle)
                            </dd>
                            <dt class="col-9">
                                @Html.DisplayNameFor(model => model.EntryActionDate)
                            </dt>
                            <dd class="col-9">
                                @Html.DisplayFor(model => model.EntryActionDate)
                            </dd>
                            <dt class="col-9">
                                @Html.DisplayNameFor(model => model.EntryNotes)
                            </dt>
                            <dd class="col-9">
                                @Html.DisplayFor(model => model.EntryNotes)
                            </dd>
                        </dl>

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="CalendarId" />
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            <a asp-action="Index">Back to List</a>
                        </form>
                    </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

