@model IEnumerable<PetBook.Models.Calendar>

@{
    ViewData["Title"] = "DetailsCalendar";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1>Details Event</h1>

<div>
    <h4>Event Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayNameFor(model => model.EntryCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayNameFor(model => model.EntryTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryActionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayNameFor(model => model.EntryActionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayNameFor(model => model.EntryNotes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditCalendar" asp-route-id="@Html.DisplayNameFor(model => model.CalendarId)">Edit</a> |
    <a asp-action="IndexCalendar">Back to List</a>
</div>
