@model PetBook.Models.Veterinarian

@{
    ViewData["Title"] = "Details Vet";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Veterinarian</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VetEMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VetEMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VetStreetAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VetStreetAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TownOrCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TownOrCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VetPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VetPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VetProfileImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VetProfileImagePath)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VetId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
